.btn {
  padding: 10px 20px;
  background: lightgray;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}

.btn-facebook {
  background-color: #1877f2;
  border-radius: 6px;
  font-size: 20px;
  color: white;
}
.btn-facebook:hover {
  background-color: #1800f2;
}